@import url('http://127.0.0.1:5500/il%20mio%20sito%20web/sito/indexhome.html');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'il%20mio%20sito%20web', sans-serif;
}
body {
    background: #eaeaea;
    
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background-color: #484b49;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.logo {
   font-size: 25px; 
   color: wheat;
   text-decoration: nome;
   font-weight: 600;
   text-decoration: none;
}
.navbar a {
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    color: wheat;
    text-decoration: nome;
    font-weight: 500;
    margin: 0 2px;
    transition: .3s;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #6e716f;
}

.header a.active {
    color: #ffffff;
    
}
.social-media {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: nome;
    transform: rotate(45deg);
    transition: .5s;
}
.social-media a:hover {
    border-color: red;
}
.social-media a i {
    font-size: 24px;
    color: wheat;
    transform: rotate(-45deg);
}


.i-twitter{
    filter: brightness(0) invert(1);
    transform: rotate(-45deg);
}

.i-twitter:hover{
    filter: invert(42%) sepia(93%) saturate(1352%);
}


.i-instagram {
    filter: brightness(0) invert(1);
    transform: rotate(-45deg);
}

.i-facebook {
    filter: brightness(0) invert(1);
    transform: rotate(-45deg);
}


.home {
    width: 100vh;
    height: 100vh;
}

.container {
    margin-top: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colonna {
    margin-top: 100px;
    width: 1200px;
    height: 100%;
}
.centrato {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colonna h3{
    color: black;
    padding-top: 40px;
    margin-left: 20px;
}

.home-img {
    width: 60%;
    padding: 10px;
}

.home-img img {
    width: 100%;
    height: auto;
}

.home-content {
    width: 40%;
    padding: 10px;
}


footer{
    background-color: #484b49;
    color: wheat;
    text-align: center;
    padding: 10px;

    width: 100%;
    height: 100px;
}


