@import url("http://127.0.0.1:5500/il%20mio%2http://127.0.0.1:5500/il%20mio%20sito%20web/indexlogin.html");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "il%20mio%20sito%20web", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://www.costacrociere.it/content/dam/costa/costa-magazine/articles-magazine/travel/cartagena-travel/cartagena_d.jpg.image.1296.974.high.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    margin-bottom: 20px;
}


.wrapper {
    width: 420px;
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    display: flex;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
}




.wrapper h1 {
    font-size: 36px;
    text-align: center;
    opacity: 1;
}
.wrapper .input-box {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 40px;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: rgb(99, 149, 235);
    border: nome;
    outline: nome;
    border: 2px solid rgba(231, 212, 212, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding-left: 14px;

}
.input-box input::placeholder {
    color: #2a3154a8;
    font-size: 16px;
}

.input-box i {
    position: absolute;
    right: 14px;
    color: black;
}
.wrapper .remember-forgot {
    display: flex;
}

.btn{
    width: 100%;
    height: 40px;
    border: nome;
    outline: nome;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(36, 63, 216);
    cursor: pointer;
    transition: .5s;
    margin-top: 20px;
}

.btn:hover {
    background-color: #e9de05;
    color: black;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}